# Active provider: 'auth0' o 'mock'
VITE_AUTH_PROVIDER=auth0
VITE_API_URL=http://127.0.0.1:8000

# Auth0 Config
VITE_AUTH0_DOMAIN=auth0.com
VITE_AUTH0_CLIENT_ID=<your-client-ID>
VITE_AUTH0_AUDIENCE=https://your-sustratio-audience.com
